<div id="<%= dom_id comment %>">
  <p class="my-5">
    <strong class="block font-small mb-0">Body:</strong>
    <%= comment.body %>
    <%= comment.id %>
  </p>

  <div id="like_<%= dom_id comment %>">
    <%= render "comments/like", comment: comment, state: @state %>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this comment", post_comments_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block " %>
    <%= link_to 'Edit this comment', edit_post_comment_path(comment.id, comment), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block " %>
    <hr class="mt-6">
  <% end %>
</div>