<div class="mt-8 pb-8 flex flex-row justify-center">
  <div class="flex basis-96 justify-center">
    <%= image_tag "homepage/phones/cbc7174b4f05.png", class: "h-full w-full md:h-full md:w-full" %>
  </div>
  <div class="flex flex-col">

    <div class="min-h-full flex flex-col justify-center py-8 sm:px-6 lg:px-8">
      <div class="mt-4 sm:mx-auto sm:w-full sm:max-w-md">

        <div class="bg-white py-6 px-4 shadow sm:rounded-lg sm:px-10">
            <div class="flex justify-center">
              <%= image_tag "web/d2529dbef8ed.png", class: "w-44 h-14 mb-8" %>
            </div>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <div class="mt-2 mb-2">
                  <%= f.email_field :email, placeholder: "Phone number, username, or email",autofocus: true, autocomplete: "email", type:"email", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
                </div>
              </div>

              <div class="field">
                <div class="mt-2 mb-2">
                  <%= f.password_field :password, placeholder: "Password", type: "password", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
                </div>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <div class="flex items-center justify-between">
                    <div class="flex items-center">
                      <%= f.check_box :remember_me, id:"remember-me", name:"remember-me", class:"h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" %>
                      <%= f.label :remember_me, for:"remember-me", class:"ml-2 block text-sm text-gray-900" %>
                    </div>
                  </div>
                </div>
              <% end %>

              <div class="actions">
                <%= f.submit "Log in", class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
              </div>
            <% end %>

          <div class="mt-6">
            <div class="relative">
              <div class="absolute inset-0 flex items-center">
                <div class="w-full border-t border-gray-300"></div>
              </div>
              <div class="relative flex justify-center text-sm">
                <span class="px-2 bg-white text-gray-500"> Or continue with </span>
              </div>
            </div>

            <div class="mt-4 grid grid-rows-1 gap-1">
              <div>
                <a href="#" class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                  <span class="sr-only">Sign in with Facebook</span>
                  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                    <path fill-rule="evenodd" d="M20 10c0-5.523-4.477-10-10-10S0 4.477 0 10c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V10h2.54V7.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V10h2.773l-.443 2.89h-2.33v6.988C16.343 19.128 20 14.991 20 10z" clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
              <div class="text-sm">
                <%= render "users/shared/links" %>
              </div>
            </div>

            <div class="flex flex-col">
              <p class="text-center">Get the app.</p>
              <div class="flex flex-row">
                <a>
                  <%= image_tag "homepage/180ae7a0bcf7.png" , class: "w-32" %>
                </a>
                <a>
                  <%= image_tag "homepage/e9cd846dc748.png", class: "w-32" %>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<footer>

</footer>