<div id="<%= dom_id post %>">
  <div class="flex flex-row">
    <div class="basis-12"><%= link_to image_tag(post.profile.profile_image, class: 'w-10 h-10 rounded-full'), post.profile %></div>
    <div class="basis-1"><strong class="block font-medium mb-1"><%= link_to post.profile.nickname, post.profile  %></strong></div>

  </div>
  <p class="my-5 bg-cover bg-center">
    <%= link_to (image_tag post.image if post.image.attached?), post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= post.profile.nickname %></strong>
    <%= post.description %>
  </p>
  <div>
    <% if post.like?(current_user.profile.id, post.id) %>
      <%= button_to "unlike", unlike_path(post), method: "delete", class: "bg-blue-500 px-2 py-1
                          text-white font-semibold text-sm rounded block text-center
                          sm:inline-block block"%>
    <% else %>
      <%= button_to "like", like_path(post), method: "put", class: "bg-blue-500 px-2 py-1
                          text-white font-semibold text-sm rounded block text-center
                          sm:inline-block block" %>
    <% end %>
    <span class="font-semibold"><%= post.count_like(post.id) %></span>
  </div>


  <% if action_name != "show" && current_user.profile.id == post.profile_id %>
    <%= link_to "Show this post", post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this post', edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
