<div class="mt-8 flex flex-row justify-center">
  <div class="flex flex-col p-10">
    <div class="grid justify-items-center">
      <%= image_tag "web/d2529dbef8ed.png", class: "w-44 h-14" %>
      <h2>
        Sign up to see photos and videos from your friends.
      </h2>
      <%= button_to "Log in with Facebook" %>
    </div>
    <div class="grid justify-items-center">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>

    </div>
  </div>
</div>